@font-face {
	font-family: 'font3a932754de1104ba22ef6e2f0b6dbeca';
	src:
		url('https://nomail.com.ua/files/eot/3a932754de1104ba22ef6e2f0b6dbeca.eot?#iefix') format('embedded-opentype'),
		url('https://nomail.com.ua/files/woff/3a932754de1104ba22ef6e2f0b6dbeca.woff') format('woff'),
		url('https://nomail.com.ua/files/woff2/3a932754de1104ba22ef6e2f0b6dbeca.woff2') format('woff2');
}

@font-face {
	font-family:'Orbitron-Black';
	src:local('Orbitron-Black'), url('https://nomail.com.ua/files/woff/3a932754de1104ba22ef6e2f0b6dbeca.woff') format('woff');
}

#orbitronblack {
	font-family:'Orbitron-Black';
}

.font3a932754de1104ba22ef6e2f0b6dbeca {
	font-family:'font3a932754de1104ba22ef6e2f0b6dbeca';
}

@font-face {
	font-family:'font2f48abc8c45de9add264c5be432e878e';
	src:url('https://nomail.com.ua/files/eot/2f48abc8c45de9add264c5be432e878e.eot?#iefix') format('embedded-opentype'), url('https://nomail.com.ua/files/woff/2f48abc8c45de9add264c5be432e878e.woff') format('woff'), url('https://nomail.com.ua/files/woff2/2f48abc8c45de9add264c5be432e878e.woff2') format('woff2');
}

@font-face {
	font-family:'HACKED'; src:local('HACKED'), url('https://nomail.com.ua/files/woff/2f48abc8c45de9add264c5be432e878e.woff') format('woff'); }
#hacked {
	font-family:'HACKED';
}

.font2f48abc8c45de9add264c5be432e878e {
	font-family: 'font2f48abc8c45de9add264c5be432e878e';
}

html {background-color:black
}

.countdown {
	width:100%;float:left;margin:10px auto
}

.timer{
	font:40px Courier;
	color:#fff;
	text-align:center
}

h2{
	color:gray;
	text-align:center;
	font-family:Orbitron-Black;
}

h2{font-size:60px;
}
.timer {
	font-family:HACKED;  color:white;
    font-size:100px;
    background-color:black;
    animation-name:colorchange;
    animation-duration:1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0, 0, 0);
}

@keyframes colorchange {
    0% {color:red;}
    1% {color:red;}
    49% {color:black;}
    50% {color:black;}
    99% {color:red;}
    100% {color:red;}
}

a {
    text-decoration:none;
    color:red;
}

sup {
    color:gray;
}

p {
    text-align:center;
}

